/*****************************
    Defaults
******************************/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
html,
body {
  background-color: cornflowerblue;
}
nav {
  padding: 2rem 0;
}
h1 {
  /* https://type-scale.com/ */
  font-size: 3.052rem;
  font-weight: 500;
}
h2 {
  font-size: 2.441rem;
  font-weight: 500;
}
h3 {
  font-size: 1.953rem;
  font-weight: 400;
}
h4,
nav a {
  font-size: 1.563rem;
  font-weight: 400;
}
p,
li,
a {
  font-size: 1.25rem;
  font-weight: 300;
}
/*****************************
    Pages
******************************/
.page {
  /* default style for every page */
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: none;
  padding: 1rem 2rem;
}
.page.active {
  /* current page */
  display: block;
}
#home {
  background-color: rebeccapurple;
  color: white;
}
#archer {
  background-color: cornflowerblue;
  color: white;
}
#lana {
  background-color: salmon;
  color: white;
}

/*****************************
    Links
******************************/
nav a,
nav a:visited {
  color: gold;
}
nav a:active,
nav a:focus,
nav a:hover {
  color: skyblue;
}
nav a {
  padding: 0 2rem;
  font-weight: 300;
}
nav a:first-child {
  padding-left: 0;
}
#home [href='#home'],
#archer [href='#archer'],
#lana [href='#lana'] {
  text-decoration: overline underline;
  line-height: 1;
  color: skyblue;
}
